<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles/main.css" type="text/css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
            <script src="./scripts/main.js" defer></script>
        <title>Document</title>
    </head>



    <body>
        <%- include(`partials/header`); %>

        <main class="news-main animate__animated animate__bounceInDown">
            <section aria-label="Newest Photos">
                <div class="carousel" data-carousel>
                <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
                <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
                <ul data-slides>
                    <li class="slide" data-active>
                        <img src="https://source.unsplash.com/78A265wPiO4" alt="Nature Image #1">
                        <div class="bottom-left">Text preko slike</div>
                    </li>
                    <li class="slide">
                        <img src="https://source.unsplash.com/eOpewngf68w" alt="Nature Image #2">
                    </li>
                    <li class="slide">
                        <img src="https://source.unsplash.com/ndN00KmbJ1c" alt="Nature Image #3">
                    </li>
                </ul>
                </div>
            </section>
        </main>
        
    
        <main class="main animate__animated animate__bounceInDown" id="main1">
            <section class="section secondary-color-bg">
                <div class="body-container menu-background">
                    <div class="centered-container">
                        <div class="separator"></div>
                        <h1 class="skin-category main-color">Featured items</h1>
                        <div class="gallery">
                            
                            <% let i = 0 %> 
                            <% for(i; i < 4; i++){ %> 
                            <% if(skins[i].includes(".webp")){ %> 
                                <a href= <%= skins[i] %>><img class="skin-image" src=<%= skins[i] %>></a> 
                            <% } else{ %> 
        
                            <% if(skins[i].includes(".mp4")){%> 
                                <video class="emote-video" controls muted>
                                    <source src= <%= skins[i] %>  type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            <% }}} %> 
                            <% let last = i %> 

                        </div>
                        <h1 class="skin-category main-color"> items</h1>
                        <div class="gallery">
                            <% for(i; i < last + 3 ; i++){ %> 
                            <% if(skins[i].includes(".webp")){ %> 
                                <a href= <%= skins[i] %>><img class="skin-image" src=<%= skins[i] %>></a> 
                            <% } else{ %> 
        
                            <% if(skins[i].includes(".mp4")){%> 
                                <video class="emote-video" controls muted>
                                    <source src= <%= skins[i] %>  type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            <% }}} %> 
                            <% last = i %> 
                        </div>
                    </div>
                </div>    
            </section>
        </main>
    </body>
</html>